// state circle
div.column  
  div.circle#state
    span.innerTEXT Step 1: STATE
    br
    span.innerTEXT#state_text Select your state

  // start of state
  div#state_select
    p.control
      span.select
        select#selected_state